/****General CSS*****/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Raleway', 'sans-serif';
    overflow-y: scroll;
    overflow-x: hidden;
}
p {
    font-size: 14px;
}

/*******HEADER******/
.header {
    background-image: url(../images/header-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -webkit-background-size:cover;
}
.header-overlay{
    background-color: rgba(31, 31, 31, 0.75);
}
.header-iphone img{
    width: 100%;
}
.logo {
    padding-bottom: 50px;
}
.header-text h1{
    color: white;
    font-size: 35px;
    font-weight: 300;
    line-height: 45px;
    padding-top: 30px;
    text-transform: uppercase; 
}
.header-text p {
    color: #fff;
    font-size: 19px;
    line-height: 28px;
    font-weight: 300;
}
.header-btns {
    margin-top: 90px;
    margin-bottom: 50px;
}
a.btn-primary
{
 border-color: #129cf3;
 color: #129cf3 ;
 background: transparent ; 
 text-transform: uppercase;
 padding: 10px 30px;
 font-size: 19px;
 border-radius: 3px;

}
a.btn-primary:hover{
    background: #129cf3;
    color: white;
}
 a.btn-tour{
    color: #a9adb0 ;
    text-transform: uppercase;
    font-size: 19px;
}
a.btn-tour:hover{
    color: #fff ;
}
i {
    color: #129cf3;
}
/***Navigation***/
.navbar-default {
    color: red;
}



/******ABOUT US*****/
.choose-us-wraper {
    padding-top: 50px;
}
.about-iphone img {
    margin-top: 80px;
}
.section-title {
    padding-top: 90px;
    padding-bottom: 50px;
}
.section-title h2{
    position: relative;
    text-align:center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}
.section-title h2:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 60px;
    height: 1.3px;
    background-color: #129cf3;
    margin-left: -30px;
}
.section-title p{
    color:#333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
}
.choose-us-title {
    padding-bottom: 30px;
}
.choose-us-title h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    position: relative;
}
.choose-us-title h2:after{
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 1.3px;
    background-color: #129cf3;
}
.choose-us-title p{
    margin-top: 40px;
    font-size: 19px;
    line-height: 24px;
}
.choose-us-item{
    position: relative;
    padding-bottom: 4px;
    padding-left: 80px;
}
.choose-us-item div{
    position: absolute;
    top: 0;
    left: 0;
}
.choose-us-item div i {
    font-size: 55px;
    font-weight: 600;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition:all 1s;
    -webkit-transition:all 1s;
}
.choose-us-item h3{
    color: #343434;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}
.choose-us-item p{
    color: #727272;
    font-size: 15px;
}
/*****testimonial*****/
.testimonial{
    background-image: url("../images/testimonial-bg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;
}
.testimonial-overlay{
    background-color: rgba(31, 31, 31, 0.75);
    padding-top: 80px;
    padding-bottom: 80px;
}
.carousel-indicators {
    bottom: -10px;
}
.carousel-item img{
    border: 2px solid #129cf3;
    border-radius: 50%;
    padding: 3px;
}
.testimonial-caption {
    padding-bottom: 70px;
}
.testimonial-caption h2{
    color: #129cf3;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    margin-top: 25px;
}
.testimonial-caption h4{
    color: #129cf3;
}
.testimonial-caption h4 span{
    color: #d8d8d8;
    font-style: italic;
    font-weight: 300;
}
.testimonial-caption p{
    color: #d8d8d8;
    font-size: 18px;
    line-height: 27px;
    padding-top: 50px;
}
/*******FEATURES*****/
.features-wrapper{
    padding-top: 30px;
    padding-bottom: 70px;
}
.left-features-item{
    position: relative;
    padding-right: 90px;
    margin-bottom: 65px;
    text-align: right;
    margin-top: 35px;
}
.left-features-item-icon{

    position: absolute;
    font-size: 40px;
    color: #129cf3;
    right: 0;
    top: -8px;
    width: 90px;
    height: 90px;
    text-align: center;
}
.left-features-item h3{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #333;
}
.left-features-item p{
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
.features-iphone img{
    width: 100%;
}
.right-features-item{
    position: relative;
    padding-left: 90px;
    margin-bottom: 55px;
    margin-top: 35px;
    text-align: left;
}
.right-feature-item-icon{
    position: absolute;
    font-size: 40px;
    left: 0;
    top: -8px;
    width: 90px;
    height: 90px;
    text-align: center;
}

.right-features-item p{
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
.right-features-item h3{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color: #333;
}
/****PURCHASE NOW***/
.purchase-now {
    background-color: #1a1a1a;
    padding-top: 100px;
    padding-bottom: 100px;
}
.purchase-now p{
    color: #dfdfdf;
    font-size: 18px;
    font-weight: 300;
}
a.btn-purchase-now {

    background-color: #129cf3;
    border: 1px solid #129cf3;
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    transform:  all 1s;
}
a.btn-purchase-now:hover{
    background-color: #1274b1;
    border-color: #316b90;
}
/****COUNTER****/
.counter {
    
    background-image: url(../images/counter-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}
.counter-overlay {
    padding-top: 120px;
    padding-bottom:  120px;
    background: rgba(0, 0, 0, .4);
}
.counter-item i{
    color: #129cf3;
    font-size: 60px;
}
.counter-item h2{
    font-family: "Source Sans Pro", sans-serif;
    color: #d7dadb;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 1px;
}
.counter-item p{
    color: #d7dadb;
    font-size: 20px;
    margin-top: 0;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
}
/******DOWNOLOAD NOW***/
.download-now img{
    width: 80%;  
}
/****AVAILABLE ON****/
.available-now{
    background-color: #1a1a1a;
    margin-top: -8px;
    position: relative;
}
.available-title {
    padding-top: 75px;
}
.available-title h2{
    color: #fff;
    font-size: 30px;
}
.available-title p{
    color: #b5b5b5;
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.available-on-item{
   
    text-align: center;
    min-height: 230px;
    padding-bottom: 15px;
    position: relative;
    transition: all 1s;

}
.available-on-item:hover{
    background-color: #121212;
}
.available-on-item i{
    font-size: 40px;
    color: #129cf3;
    opacity: 1;
    transition: all 1s;
    padding-top: 60px;
}
.available-on-item i:hover{
    opacity: 0;
}
.available-on-inner h2{
    color: #d7dadb;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 16px;
}
.available-on-inner {
    opacity: 0;
    transition: all 1s;
}
.available-on-item:hover div.available-on-inner {
    opacity: 1;
}
/*****CONTACT US***/
.contact-us-form .form-control{
     display: block;
     width: 100%;
     height: 50px;
     padding:6px 12px;
     font-size: 14px;
     line-height: 21px;
     color: #555;
     background-color: transparent;
     border: 1px solid #aeaeae;
     border-radius: 3px;
     margin-bottom: 15px;
     opacity: .8;
     outline: 0px !important;
     transition: all 1s;
}
#message {
    height: 117px;
    resize: none;
}
button.submit-btn {
    background-color: transparent;
    border: 1px solid #129cf3;
    color: #129cf3;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-size: 18px;
    transition: all 1s;
}
.social-icons {
    padding-top: 50px;
    padding-bottom: 70px;
}
.social-icons ul {
    margin: 0;
    padding: 0;
    text-align: center;
}
.social-icons ul li{
    list-style: none;
    display: inline;
    padding-left: 10px;
}
.social-icons ul li a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    width: 45px;
    height: 45px;
    line-height: 49px;
    color: #9d9d9d;
}
.social-icons ul li a:hover{
    background-color: #129cf3;
    border: 1px solid #129cf3;
    transition: all 1s;
    color: white;

}
.social-icons ul li a i {
    font-size: 20px;
    transition: all 1s;
}
.social-icons ul li a i:hover{
    color: #fff;
}
/****Footer***/
.footer {
    background-color: #1a1a1a;
    padding-bottom: 35px;
    padding-top: 35px;
    border-bottom: 3px solid #129cf3;
}
#copyright {
    width: 50%;
}
#copyright p{
    color: #8c8b8a;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}
.scroll-top {
    text-align: right;
    margin-right: -8px;
}
.scroll-top a{
    background-color: #129cf3;
    padding: 20px;
}
.scroll-top a i{
    color: white;
    font-size: 25px;
}